<div class="container">
<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div >
        <a *ngFor="let item of cusines1" (click)="getdatabycid(item.cusine_id)" class="navbar-brand" >{{item.cusine_name}}</a>
      </div>
    </div>
  </div>
</nav>
</div>


<div class="row">
  <div class="col-sm-7 col-md-3" *ngFor="let item of dish1">
    <div class="thumbnail">
      <img src="http://localhost:3000/images/DishImages/{{item.dish_img}}" alt="...">
      <div class="caption">
        <h3>{{item.dish_name}}</h3>
        <p>{{item.dish_price}}</p>
        <p><a class="btn btn-primary" role="button" (click)="bill(item)">OK</a> </p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-6 " style="height: 100px; width: 200px;" >
    <label style="margin-left: 30px;"><u><b>ORDER LIST</b></u></label>
    <div class="div"><br>
      <table class="table">
        <thead>
          <th>  </th>
          <th>NAME</th>
          <th>PRICE</th>
          <th>QTY</th>
          <th>ACTION</th>
          <th>SUB TOTAL</th>
        </thead>
        <tr *ngFor="let item of arr;let i=index">
          <td>
              <img src="http://localhost:3000/images/DishImages/{{item.dish_img}}" alt="..." style="height: 30px;width: 30px;border-radius: 20px;">
          </td>
          <td>
                {{item.dish_name}}
          </td>
          <td>
            {{item.dish_price}}
          </td>
          <td>
            <select [(ngModel)]="qty[i]"  (change)="total(item.dish_price,i)">
              <option *ngFor="let item of qty1" >{{item}}</option>
            </select>
          </td>
          <td>
              <button type="button" class="btn btn-default btn-lg " (click)="ondelete(i)">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
          </td>
          <td >
            {{price[i]}}
          </td>
        </tr>
      </table>
      <h1>Grand Total</h1>
      <h1>{{total1}}</h1>
      <button type="button" class="btn btn-default btn-lg " >
        <span class="glyphicon glyphicon-check" aria-hidden="true" (click)="onaddtobill()"> CheckOut</span>
      </button>
      <button type="button" class="btn btn-default btn-lg " >
        <span class="glyphicon glyphicon-check" aria-hidden="true" (click)="pastorderdetails()"> ChecdddkOut</span>
      </button>

    </div>
  </div>
</div>
